.app-container{
    display: flex;
}

.container{
    width:100%;
}

.sidebar{
    min-height: 635px;
}
.bodySection{
    min-height: 600px;
}
.welcome-message{
    margin:10% auto;
}
.spinner{
    margin:10% 25%;
    margin-top:10% !important;
}